.important{
    color: aqua;
    background-color: brown;
}
.unimportant{
    font-size: 30px;
    color: hotpink;
    font-family: sans-serif;
}
.petnames{
    font-size: 20px;
    color: blue;
    
}